<div id='header'>
<%= render :partial => 'header'%>	
</div>
<h1>Marcar Ponto</h1>

<% form_for(@marcacaoponto) do |f| %>
  <%= f.error_messages %>

  <p>Selecione o funcionário para a marcação do ponto(a data e a hora serão pegos do servidor):
    <%= f.label :funcionario_id %><br />
	<%= f.collection_select(:funcionario_id, Funcionario.find(:all), :id, :nome, {}, {}) %>
  </p>
    <%= f.submit "Marcar Ponto" %>
  </p>
<% end %>

<%= link_to 'Voltar', marcacaopontos_path %>
