<div id='header'>
<%= render :partial => 'header'%>	
</div>
<h1>Novo funcionario</h1>

<% form_for(@funcionario) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :cargo %><br />
    <%= f.text_field :cargo %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', funcionarios_path %>
