<div id='header'>
<%= render :partial => 'header'%>	
</div>
<div class="news">
<div><p class="title">CARTÃO DE PONTO</p></div>	
<div><%= avatar_for(@funcionario.email) %></div>
	<div>
		  <br>
          <%=h @funcionario.nome %>	
          <br>
          <%=h @funcionario.email %>
          <br>
 	      <%=h @funcionario.cargo %>
 	      <br>
 	      <% form_tag @funcionario.id.to_s, :method => 'Get' do %>
        <%= select_tag("month", options_for_select([["Janeiro","1"],["Fevereiro","2"],["Marco","3"],["Abril","4"],["Maio","5"],["Junho","6"],["Julho","7"],["Agosto","8"],["Setembro","9"],["Outubro","10"],["Novembro","11"],["Dezembro","12"]],params[:month]), { :index => nil}) %>
        <%= select_tag("year", options_for_select(["2008","2009"],params[:year]), { :index => nil}) %>
        <%= submit_tag "Pesquisar" %>
	<% end %>
 	</div>
</div>
 
<div>
    <%= link_to 'Voltar para página principal', funcionarios_path %>
</div>
<table border="0" cellspacing="0" cellpadding="0" class="wide forums">
  <tr>
  	<th class="la" width="20%">Dia</th>
    <th class="la" width="20%">Entrada</th>
    <th class="la" width="20%">Saída Almoço</th>
    <th class="la" width="20%">Volta Almoço</th>
    <th class="la" width="20%">Saída</th>
    <th class="la" width="20%">Horas Trabalhadas</th>
     </tr>
 
 <% for marcacaoponto in @marcacaopontos %>
   <tr>
  	<td><%=h marcacaoponto.data.strftime("%d/%m/%Y") %></td>
    <td><%=h @funcionario.formathora(marcacaoponto.hora1) %></td>
    <td><%=h @funcionario.formathora(marcacaoponto.hora2) %></td>
    <td><%=h @funcionario.formathora(marcacaoponto.hora3) %></td>
    <td><%=h @funcionario.formathora(marcacaoponto.hora4) %></td>
    <td><%=h @funcionario.horastrabalhadasdia(marcacaoponto.data) %></td>
  </tr>
  <% end %>
  <tr>
      <th class="la" width="20%"></th>
      <th class="la" width="20%"></th>
      <th class="la" width="20%"></th>
      <th class="la" width="20%"></th>
      <th class="la" width="20%">Total do Mês: </th>
      <th class="la" width="20%"><%=h @funcionario.horastrabalhadasnomes(params[:month],params[:year]) %></th>
       </tr>
</table>
<p>

